.row{
    text-align: center;
}

.btn-primary{
    background-color: orange;
    border-color: orange;
}

.btn-primary:hover{
    background-color: white;
    border-color: orange;
    color: orange;
}

#places{
    text-align: center;
}

.breadcrumb{
    background-color: white;
    border: 1px solid orange;
}

#home{
    color: orange;
}
.progress-bar{
    background-color: orange;
}