#header{
    border-style: dashed;
    padding: 25px;
    font-family: "Lucida Console", Courier, monospace;
    font-weight: bold;
}
#footer{
    border-style: dashed;
    padding: 25px;
    font-family: "Lucida Console", Courier, monospace;
}

.col-md-6{
    border-style: dashed;
    padding: 25px;
    font-family: "Lucida Console", Courier, monospace;
}

